<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>组件demo</title>
</head>

<body>
  <script src='https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js'></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://localhost:8080/dist/kzui.min.js"></script>
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    .demopage .el-table th {
      text-align: center;
      background: #f5f5f5;
    }

    .demopage .kz-mini-size {
      padding: 5px 10px;
    }

    .demopage .el-table {
      overflow: initial;
    }

    .demopage .el-table__body-wrapper {
      overflow: initial;
    }
  </style>
  <div id="app" class="demopage">
    <el-table border :data="list" size="mini">
      <el-table-column align="center" label="多项下拉" width="180">
        <template slot-scope="scope">
          <kz-editable-fuzzy @end="handlerEnd" :match="serchFilter" :set-val="setVal" @keydown="handlerKeydown" :options="options"
            v-model="selVal2" :data="serchList">
            <el-button tabindex="-1" @end="handleClick(scope)" class="kz-mini-size" slot="btn" size="mini" type="success">选择</el-button>
          </kz-editable-fuzzy>
        </template>
      </el-table-column>
      <el-table-column align="center" label="单项下拉" width="180">
        <template slot-scope="scope">
          <kz-editable-fuzzy @end="handlerEnd" @keydown="handlerKeydown" v-model="selVal1" :data="listtest">
            <el-button tabindex="-1" @end="handleClick(scope)" class="kz-mini-size" slot="btn" size="mini" type="success">选择</el-button>
          </kz-editable-fuzzy>
        </template>
      </el-table-column>
      <el-table-column align="center" label="姓名" width="180">
        <template slot-scope="scope">
          <kz-editable-input @end="handlerEnd" @keydown="handlerKeydown" v-model="selVal1"></kz-editable-input>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="cc" label="地址">
      </el-table-column>
    </el-table>
  </div>
  <script>
    var Main = {
      name: 'test',
      data() {
        return {
          selVal1: 1,
          selVal2: "壳牌",
          listtest: ["aabc", "cbaaa", "ssssss", "sdsd"],
          options: [
            {
              label: "名称", prop: "name", width: "180px",

            }, {
              label: "规格", prop: "number", width: "280px"
            }, {
              label: "折扣", prop: "discountRate", width: "60px",
            }
          ],
          serchList: [
            {
              id: "22", barCode: "",
              categoryId: "110200",
              categoryName: "汽机油",
              carModel: "111",
              discountRate: 0,
              name: "壳牌 1102000002 汽机油",
              number: "超凡喜力（SN） 5W-40/1L"
            }, {
              id: "22", barCode: "",
              categoryId: "110200",
              categoryName: "汽机油",
              carModel: "111",
              discountRate: 0,
              name: "壳牌 1102000002 汽机油",
              number: "超凡喜力（SN） 5W-40/1L"
            }, {
              id: "22", barCode: "",
              categoryId: "110200",
              categoryName: "汽机油",
              carModel: "111",
              discountRate: 0,
              name: "壳牌 1102000002 汽机油",
              number: "超凡喜力（SN） 5W-40/1L"
            }


          ],
          list: [{ aa: 11, bb: 33, cc: 988 }, { aa: 55, bb: 22, cc: 9818 }, { aa: 55, bb: 22, cc: 9818 }, { aa: 11, bb: 33, cc: 988 }, { aa: 55, bb: 22, cc: 9818 }, { aa: 55, bb: 22, cc: 9818 }, { aa: 11, bb: 33, cc: 988 }, { aa: 55, bb: 22, cc: 9818 }, { aa: 55, bb: 22, cc: 9818 }],
        }
      },
      mounted() {
      },
      methods: {
        handleClick(e) {
          alert("这边可以出现弹出窗");
          console.log(e);
        },
        handlerKeydown(e) {
          console.log(e);
        },
        handlerEnd(e) {
          console.log(e)
        },
        serchFilter(item) {
          return true;
        },
        setVal(item) {
          return item.name;
        }
      }
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
  </script>
</body>

</html>